* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {

    text-align: center;
}

.article-header {
    position: relative;
    z-index: 10;


}

h1 {

    background: -webkit-linear-gradient(rgba(247, 214, 23, 1) 0%, rgb(239, 120, 8) 50%, rgb(255, 221, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-family: cursive;
    text-align: center;
    z-index: 10;
    position: relative;
}

h2 {
    background: -webkit-linear-gradient(rgba(247, 214, 23, 1) 0%, rgba(233, 128, 30, 1) 50%, rgb(255, 225, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    z-index: 10;
    position: relative;

}

table.crud-table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 1px solid rgb(237, 126, 47);
    background-color: #f0dc08;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    position: relative;




}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #da5e00;
}

tbody tr:nth-child(even) {
    background-color: #db7604;
}



.imgPreview {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-position: center;
    background-size: cover;
}

.crud video {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;

}

input {
    font-family: 'Poppins';
    color: black;
    letter-spacing: 1px;
    text-align: center;
    background-color: orange;
    border: 1px dashed rgb(233, 47, 15);
    border-radius: 0.5rem;
    padding: 0.5rem 0.9rem;
    caret-color: rgb(238, 250, 9);
    border-style: solid;
    border-width: 1px;

}

.edit {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    color: #ffffff;
    background: #e0ae09;
    border-radius: 4px;
    box-shadow: rgb(239, 243, 3) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.delete {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 15px;
    color: #ffffff;
    background: #e0ae09;
    border-radius: 4px;
    box-shadow: rgb(239, 243, 3) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.text-top {
    background: -webkit-linear-gradient(rgb(254, 85, 0) 0%, rgb(220, 63, 1) 50%, rgb(255, 77, 28) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    font-family: cursive;
    text-align: center;
    z-index: 10;
    position: relative;
}

.name {
    font-family: cursive;
    font-size: 16px;
    text-align: center;
    color: #f0f404;
    position: relative;
}

.tipo {
    font-family: cursive;
    font-size: 16px;
    text-align: center;
    color: #f0f404;
    position: relative;

}